# main packages
numpy<=1.26.4
pandas>=2.1.0
PyYAML>=5.3
scikit-learn>=0.23
matplotlib>=3.1
editdistance
regex
tzlocal
airr>=1
pystache~=0.6.5
dill>=0.3
plotly>=4
matplotlib-venn>=0.11
scipy<=1.12.0
bionumpy>=1.0.12
umap-learn
fisher>=0.1.9
fishersapi
olga>=1.2.4
stitchr
IMGTgeneDL
psutil
kaleido
logomaker
pytest
gensim>=4
torch
tensorflow>=2.14.0
keras
python-glmnet