absl-py==2.0.0
accelerate==1.3.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
airr==1.5.1
alabaster==1.0.0
annotated-types==0.7.0
anyio==4.7.0
apeye==1.4.1
apeye-core==1.1.5
rgon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.0.5
attrs==25.3.0
autodocsumm==0.2.14
babel==2.16.0
beautifulsoup4==4.12.3
bionumpy==1.0.13
biopython==1.85
biotite==0.41.2
bleach==6.2.0
Brotli==1.1.0
CacheControl==0.14.1
cachetools==5.3.1
certifi==2023.7.22
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.3.0
click==8.1.8
cloudpathlib==0.21.0
comm==0.2.2
contourpy==1.1.1
cssutils==2.11.1
cycler==0.12.1
DataProperty==1.0.1
datasets==4.4.1
debugpy==1.8.14
decorator==5.2.1
deeprc @ git+https://github.com/ghadialhajj/DeepRC2@8156cecd4c12258eac5742275aa3fed5e5e3a968
defusedxml==0.7.1
dict2css==0.3.0.post1
dill==0.4.0
docker-pycreds==0.4.0
docutils==0.21.2
domdf-python-tools==3.9.0
dominate==2.9.1
editdistance==0.6.2
einops==0.8.1
esm==3.1.6
et_xmlfile==2.0.0
executing==2.2.0
fastjsonschema==2.21.1
feather-format==0.4.1
filelock==3.12.4
fisher==0.1.14
fishersapi==0.5
flatbuffers==25.9.23
fonttools==4.43.1
fqdn==1.5.1
frozenlist==1.8.0
fsspec==2023.9.2
furo==2024.8.6
gast==0.5.4
gensim==4.3.2
gitdb==4.0.12
GitPython==3.1.44
google-auth==2.23.3
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.59.0
h11==0.14.0
h5py==3.14.0
hdbscan==0.8.40
hierdiff==0.9
html5lib==1.1
httpcore==1.0.7
httpx==0.28.1
huggingface-hub==0.27.1
idna==3.4
imagesize==1.4.1
IMGTgeneDL==0.6.0
importlib_resources==6.4.5
iniconfig==2.0.0
ipykernel==6.29.5
ipython==9.0.2
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
isoduration==20.11.0
jedi==0.19.2
Jinja2==3.1.2
joblib==1.3.2
json5==0.12.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.16.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
kaleido==0.2.1
keras==2.15.0
kiwisolver==1.4.5
libclang==16.0.6
llvmlite==0.41.1
logomaker==0.8
Markdown==3.5
markdown-it-py==4.0.0
MarkupSafe==2.1.3
matplotlib==3.8.0
matplotlib-inline==0.1.7
matplotlib-venn==0.11.9
mbstrdecoder==1.1.3
mdurl==0.1.2
mistune==3.1.3
ml-dtypes==0.3.2
more-itertools==10.5.0
mpmath==1.3.0
msgpack==1.1.0
msgpack-numpy==0.4.8
multidict==6.7.0
multiprocess==0.70.18
namex==0.1.0
narwhals==1.31.0
natsort==8.4.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2
notebook==7.4.2
notebook_shim==0.2.4
npstructures==0.2.17
numba==0.58.1
numpy==1.26.4
oauthlib==3.2.2
olga==1.2.4
openpyxl==3.1.5
opt-einsum==3.3.0
optree==0.17.0
overrides==7.7.0
packaging==23.2
palmotif==0.4
pandas==2.1.1
pandocfilters==1.5.1
parasail==1.3.4
parmap==1.7.0
parso==0.8.4
pathvalidate==3.2.1
patsy==0.5.3
pexpect==4.9.0
Pillow==10.1.0
platformdirs==4.3.6
plotly==6.0.1
pluggy==1.5.0
prettytable==3.12.0
progress==1.6
prometheus_client==0.22.0
prompt_toolkit==3.0.50
propcache==0.4.1
protobuf==4.25.8
psutil==6.1.1
ptyprocess==0.7.0
pure_eval==0.2.3
pwseqdist==0.6
pyarrow==22.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.18.0
pynndescent==0.5.12
pyparsing==3.1.1
pypistats==1.7.0
pystache==0.6.5
pytablewriter==1.2.0
pytest==8.3.4
python-dateutil==2.8.2
python-json-logger==3.3.0
python-slugify==8.0.4
python_glmnet==2.6.1
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==26.4.0
referencing==0.36.2
regex==2023.10.3
requests==2.32.5
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==14.1.0
rpds-py==0.24.0
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
safetensors==0.5.2
scikit-learn==1.6.1
scipy==1.12.0
seaborn==0.13.2
Send2Trash==1.8.3
sentencepiece==0.2.0
sentry-sdk==2.22.0
setproctitle==1.3.5
six==1.16.0
smart-open==6.4.0
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==2.2.0
sonia==0.1.3
sonnia==0.1.5
soupsieve==2.6
Sphinx==8.1.3
sphinx-autodoc-typehints==2.5.0
sphinx-basic-ng==1.0.0b2
sphinx-jinja2-compat==0.3.0
sphinx-prompt==1.9.0
sphinx-sitemap==2.6.0
sphinx-tabs==3.4.5
sphinx-toolbox==3.8.1
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
stack-data==0.6.3
statsmodels==0.14.0
stitchr==1.1.3.1
svgwrite==1.4.3
sympy==1.13.1
tabledata==1.3.3
tabulate==0.9.0
tcolorpy==0.1.6
tcrdist3==0.3
tcrsampler==0.1.9
tenacity==8.2.3
tensorboard==2.15.2
tensorboard-data-server==0.7.1
tensorflow==2.15.1
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==2.3.0
terminado==0.18.1
text-unidecode==1.3
threadpoolctl==3.2.0
tinycss2==1.4.0
tokenizers==0.21.0
torch==2.6.0
torchtext==0.18.0
torchvision==0.21.0
tornado==6.5
tqdm==4.67.1
traitlets==5.14.3
transformers==4.48.1
typepy==1.3.2
types-python-dateutil==2.9.0.20250516
typing_extensions==4.12.2
tzdata==2023.3
tzlocal==5.1
umap-learn==0.5.6
uri-template==1.3.0
urllib3==2.0.7
wandb==0.19.7
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.0
widgetsnbextension==4.0.14
widis-lstm-tools @ git+https://github.com/widmi/widis-lstm-tools@d94edfc854477cca6f492d4c0abc37c7fd70667b
wrapt==1.14.1
xxhash==3.6.0
yamlordereddictloader==0.4.2
yarl==1.22.0
zipdist==0.1.5
zstd==1.5.6.6
