numpy<1.20
pytest>=4
pandas
PyYAML>=5.3
scikit-learn>=0.23
gensim>=3.8
matplotlib>=3.1
editdistance
regex
tzlocal
airr>=1,<1.4
fishersapi
pystache
torch>=1.5.1
dill>=0.3
plotly>=4
logomaker>=0.8
matplotlib-venn>=0.11
scipy