pytest>=4.3.1
pandas>=1.1.1
PyYAML>=5.3.1
scikit-learn>=0.22.2.post1
gensim==3.8.1
matplotlib>=3.1.1
editdistance==0.5.3
regex
tzlocal
airr==1.2.1
pystache==0.5.4
torch==1.5.1
numpy>=1.18.2
h5py>=2.9.0
dill>=0.3.0
tqdm>=0.24.2
tensorboard==1.14.0
requests>=2.21.0
plotly>=4.8.2
logomaker>=0.8
fishersapi
matplotlib-venn>=0.11.6