normalization_type: l2  # normalize the frequency
reads: unique  # count one clonotype as 1 vs count one clonotype as the number of reads for the clonotype
sequence_encoding: continuous_kmer  # split sequence into overlapping k-mers
scale_to_unit_variance: True # scale the normalized examples to have unit variance
scale_to_zero_mean: False # scale the normalized examples to have zero mean -> setting this to True might destroy sparsity
k: 3  # k-mer length if k-mers are not gapped
k_left: 1  # left k-mer length for gapped k-mers
k_right: 1  # right k-mer length for gapped k-mer
max_gap: 0  # maximum gap for gapped k-mers
min_gap: 0  # minimum gap for gapped k-mers
