is_repertoire: True
path: ./
column_mapping:
  V: v_call
  J: j_call
  CDR3: sequence_aa
  complex.id: sequence_id
  Gene: chain
metadata_column_mapping:
  Epitope: epitope
  Epitope gene: epitope_gene
  Epitope species: epitope_species
region_type: "IMGT_CDR3" # which region to use - IMGT_CDR3 option means removing first and last amino acid as VDJdb uses IMGT junction as CDR3
separator: "\t"
import_empty_nt_sequences: True # keep sequences even though the nucleotide sequence might be empty
import_empty_aa_sequences: False # filter out sequences if they don't have sequence_aa set
import_illegal_characters: False