<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>immuneML: Train generative model overview</title>
    <style>
        {{{css_style}}}
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
        <div>
            <h1>Trained generative model: {{name}}</h1>
            <p>Full specification is available <a href="{{{full_specs}}}">here</a>.</p>
            <p class="padded-bottom">immuneML version: {{immuneML_version}}</p>
        </div>
        <div>
            <h2>Generated data</h2>
            <div>
                Example sequences to come here!
            </div>
        </div>
    </div>
</body>
</html>