<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hyperparameter optimization - CV details</title>
    <style>
        {{{css_style}}}
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
        <h3>Assessment - split {{split_index}} details</h3>
        {{#labels}}
        <h4>Label {{label}}</h4>
        <div class="padded">
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Hyperparameter settings (preprocessing, encoding, ML method)</th>
                            <th>Performance ({{optimization_metric}})</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#hp_settings}}
                        <tr>
                            <td>
                                {{#optimal}}<b>{{/optimal}}
                                    {{hp_setting}}
                                {{#optimal}}</b>{{/optimal}}
                            </td>
                            <td>
                                {{#optimal}}<b>{{/optimal}}
                                    {{optimization_metric_val}}
                                {{#optimal}}</b>{{/optimal}}
                            </td>
                        </tr>
                        {{/hp_settings}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="padded">
            <div>
                <a href="{{selection_path}}">Selection details</a>
            </div>
        </div>
        {{/labels}}
        <div class="padded">
            <details>
                <summary>Train and validation metadadta (<a href="{{train_metadata_path}}">download link</a>)</summary>
                <div class="table-container padded">
                    {{{train_metadata}}}
                </div>
            </details>
            <details>
                <summary>Test metadata (<a href="{{test_metadata_path}}">download link</a>)</summary>
                <div class="table-container padded">
                    {{{test_metadata}}}
                </div>
            </details>
        </div>
        {{#show_data_reports}}
        <h3>Data reports</h3>
        <div class="padded">
            <div class="col-container">
                <div class="col center">
                    {{#train_data_reports}}
                    {{#output_figures}}
                    <embed src="{{path}}">
                    {{#name}}<p>{{name}} (training data)</p>{{/name}}
                    {{/output_figures}}
                    {{/train_data_reports}}
                </div>
                <div class="col center">
                    {{#test_data_reports}}
                    {{#output_figures}}
                    <embed src="{{path}}">
                    {{#name}}<p>{{name}} (test data)</p>{{/name}}
                    {{/output_figures}}
                    {{/test_data_reports}}
                </div>
            </div>
        </div>
        {{/show_data_reports}}
        {{#show_ml_reports}}
        <h3>ML reports</h3>
        {{#ml_reports}}
        {{#labels}}
        <h4>Label {{label}}</h4>
        {{#ml_reports_per_label}}
        {{#output_figures}}
        <div class="padded center">
            <embed alt="report" src="{{path}}">
            <p>{{name}}</p>
        </div>
        {{/output_figures}}
        {{/ml_reports_per_label}}
        {{/labels}}
        {{/ml_reports}}
        {{/show_ml_reports}}
    </div>
</body>
</html>