<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>immuneML: Hyperparameter Optmization Overview</title>
    <!-- from simplegrid.io: -->
    <link rel="stylesheet" type="text/css" href="css/simple_grid.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <div class="container">
        {{#instructions}}
            <h4>{{instruction_class}}: {{instruction_name}}</h4>
            <a href="{{path}}">Report link</a>
        {{/instructions}}
    </div>
</body>
</html>