name: Docker

on:
 push:
   branches:
     - master

jobs:

 build:

   runs-on: ubuntu-latest

   steps:
     - uses: actions/checkout@v2

     - name: Build and push Docker images
       uses: docker/build-push-action@v2
       with:
         username: ${{ secrets.DOCKER_USERNAME }}
         password: ${{ secrets.DOCKER_PASSWORD }}
         repository: milenapavlovic/immuneml
         tag_with_ref: true
         tag_with_sha: true
