name: Docker

on:
 push:
   branches:
     - master

jobs:

 build:

   runs-on: ubuntu-latest

   steps:
     - uses: actions/checkout@v2

     - name: Login to DockerHub
       uses: docker/login-action@v1
       with:
           username: ${{ secrets.DOCKER_USERNAME }}
           password: ${{ secrets.DOCKER_PASSWORD }}

     - name: Build and push the Docker image
       uses: docker/build-push-action@v2
       with:
         no-cache: true
         tags: milenapavlovic/immuneml:latest
