name: Docker

on:
 push:
   branches:
     - master
   paths: ['**.py', '**.yaml']
 workflow_dispatch:

jobs:

 build:

   runs-on: ubuntu-latest

   steps:
     - uses: actions/checkout@v2

     - name: Set up Python
       uses: actions/setup-python@v5
       with:
         python-version: '3.11'

     - name: Extract immuneML version
       id: version
       run: |
         echo "VERSION=$(python -c 'from immuneML.environment.Constants import Constants; print(Constants.VERSION)')" >> $GITHUB_ENV


     - name: Login to DockerHub
       uses: docker/login-action@v1
       with:
           username: ${{ secrets.DOCKER_USERNAME }}
           password: ${{ secrets.DOCKER_PASSWORD }}

     - name: Build and push the Docker image
       uses: docker/build-push-action@v2
       with:
         push: true
         no-cache: true
         tags: |
           milenapavlovic/immuneml:${{ env.VERSION }}
           milenapavlovic/immuneml:latest
