name: build_docs

on:

  push:
    branches: [ development ]
  workflow_dispatch:


jobs:

  build:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Create a virtual env and install dependencies with uv
        run: |
            uv venv --python 3.11
            source .venv/bin/activate
          
            uv pip install setuptools
            uv pip install -r requirements.txt
            uv pip install -r requirements_sphinx.txt
            uv pip install torch
          
            export PYTHONPATH=.
          
            python scripts/specs_docs_generation.py
            sphinx-build -b html ./docs/source ./docs
          
            git config --global user.email "github@action.com"
            git config user.name "pavlovicmilena"
            git add -f ./docs
            git commit -m 'update docs'

      - name: push changes to gh-pages to show automatically
        uses: ad-m/github-push-action@master
        with:
          branch: gh-pages
          force: true