name: Run tests

on:
  push:
    branches: [ master ]
    paths: ['**.py', '**.yaml']
  pull_request:
    branches: [ master ]
    paths: ['**.py', '**.yaml']
  workflow_dispatch:


jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Set up virtual environment and run tests
        run: |
          uv venv --python 3.11
          source .venv/bin/activate

          uv pip install -r requirements.txt
          uv pip install -r requirements_TCRdist.txt
          uv pip install -r requirements_DeepRC.txt
          uv pip install -r requirements_generative_models.txt
          uv pip install pytest

          export PYTHONPATH=.

          git clone https://github.com/uio-bmi/compairr.git
          make -C compairr
          
          python -m pytest